
.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    padding: 30px 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* выше установили ограничения для секции */
  }

  
.header__logo {
    margin-top: 30px;
  }
  
  /* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
  .header__square-pic {
    z-index: 1;
    height:568px;
    width:568px;
    position:absolute;
    background-color: #2f80ed;
    right: 0;
    top: 64px;
  }